In [ ]:
Introduction to list datatype :

definetionb : A list is a collection of items in a particular order.
classification :it is classifies as a mutable datatypes.
how do you declare a list.-----> []   =========> square brakets.

In [1]:
students = ['naveen', 'kranthi','hameed','john','farheen','swetha']       # 0,1,2,3,4
print(students)

['naveen', 'kranthi', 'hameed', 'john', 'farheen', 'swetha']

In [2]:
type(students
)

list

In [ ]:
# req :how to access the elements from the list....?

In [ ]:
indexing : 0,1,2,3,4....

In [3]:
print(students[1])

kranthi

In [4]:
print(students[3])

john

In [5]:
print(students[3].title())

John

In [ ]:
1. how to add new elements to the list
2. how to modify the elements in the list
3. how to delete the elements in the list

In [6]:
print(students
     )

['naveen', 'kranthi', 'hameed', 'john', 'farheen', 'swetha']

In [ ]:
1. how to add new elements to the list
# req : I want to add rafi to the above list ?

In [7]:
students.append('rafi')

In [8]:
print(students
    )

['naveen', 'kranthi', 'hameed', 'john', 'farheen', 'swetha', 'rafi']

In [ ]:
# req : I want to add suveditha to the above list ?

In [9]:
students.append('suveditha')

In [10]:
print(students)

['naveen', 'kranthi', 'hameed', 'john', 'farheen', 'swetha', 'rafi', 'suveditha']

In [ ]:
#I want to add kiran to 2nd index?

In [11]:
sudents.insert(2,'kiran')

NameError: name 'sudents' is not defined

In [12]:
students.insert(2,'kiran')

In [13]:
print(students)

['naveen', 'kranthi', 'kiran', 'hameed', 'john', 'farheen', 'swetha', 'rafi', 'suveditha']

In [ ]:
Interview Question : What is the difference between append and insert in the list ? can you explain?

In [ ]:
2. how to modify the elements?

In [14]:
print(students)

['naveen', 'kranthi', 'kiran', 'hameed', 'john', 'farheen', 'swetha', 'rafi', 'suveditha']

In [ ]:
# req : I want to modify  naveen to namita ?

In [16]:
students[0]='namitha'
print(students)

['namitha', 'kranthi', 'kiran', 'hameed', 'john', 'farheen', 'swetha', 'rafi', 'suveditha']

In [ ]:
3. how to delete the element in a list... ?

In [17]:
print(students)

['namitha', 'kranthi', 'kiran', 'hameed', 'john', 'farheen', 'swetha', 'rafi', 'suveditha']

In [ ]:
# req : I want to delete kiran name in the list...?

In [18]:
del students [2]
print(students)

['namitha', 'kranthi', 'hameed', 'john', 'farheen', 'swetha', 'rafi', 'suveditha']

In [ ]:
Day4..................