In [ ]:
organising the list data types:

In [ ]:
cars = ['kia','benz','audi','bmw','maruthi']

In [3]:
print(cars)

NameError: name 'cars' is not defined

In [4]:
cars = ['kia','benz','audi','bmw','suzuki','maruthi']
print(cars)

['kia', 'benz', 'audi', 'bmw', 'suzuki', 'maruthi']

In [5]:
type(cars)

list

In [ ]:
# req : I want to organise the above cars list in a alphabetical order ------  A-Z order
2 possible approahes :
1. temp approach -----> we can able to maintain the original of the list ====>sorted
2. permanent approach ----> changes are fixed , cant go back to the original order. ====> sort

In [6]:
# temp approach.  ------> 1. A---->Z
print(sorted(cars))

['audi', 'benz', 'bmw', 'kia', 'maruthi', 'suzuki']

In [7]:
print(cars)             #this is the original order

['kia', 'benz', 'audi', 'bmw', 'suzuki', 'maruthi']

In [ ]:
benz , bmw ====> e , m

In [8]:
# permanent approach :
cars.sort()

In [9]:
print(cars)

['audi', 'benz', 'bmw', 'kia', 'maruthi', 'suzuki']

In [10]:
print(cars)

['audi', 'benz', 'bmw', 'kia', 'maruthi', 'suzuki']

In [ ]:
# req :how to print the list in a reverse order.....? ******IMP

In [11]:
print(cars
    )

['audi', 'benz', 'bmw', 'kia', 'maruthi', 'suzuki']

In [ ]:
cars.revrse()              # the changes are applies permanently

In [14]:
cars.reverse()

In [15]:
print(cars)

['suzuki', 'maruthi', 'kia', 'bmw', 'benz', 'audi']

In [16]:
print(cars)

['suzuki', 'maruthi', 'kia', 'bmw', 'benz', 'audi']

In [ ]:
# req : to count the number of elements in the list.....?

In [17]:
len(cars)

6

In [ ]:
Slicing of lists:

In [18]:
students = ['suveditha','farheen','kumar','imran','surya','hameed']
print(students)

['suveditha', 'farheen', 'kumar', 'imran', 'surya', 'hameed']

In [ ]:
General syntax of slicing :
startvalue:stopvalue:stepcount ==============> indexing.
Note: Last value or stopvalue is always exclusive , that means it will be included in part of the slice.
Note2 : increment the index by 1 to inlude the lastvalue or stop value

In [ ]:
# req : I want to include suveditha and farheen in the same slice.

In [19]:
print(students[0:1])

['suveditha']

In [20]:
print(students[0:2])

['suveditha', 'farheen']

In [22]:
# req : I want to include kumar and imran in the same slice.
print(students[2:4])

['kumar', 'imran']

In [23]:
# req : I want to include surya and hameed in the same slice.
print(students[4:6])

['surya', 'hameed']

In [24]:
print(students[0:6:3])

['suveditha', 'imran']

In [25]:
print(students[0:6:2])

['suveditha', 'kumar', 'surya']

In [26]:
print(students[0:5])

['suveditha', 'farheen', 'kumar', 'imran', 'surya']

In [27]:
print(students[1:3])

['farheen', 'kumar']

In [28]:
print(students)

['suveditha', 'farheen', 'kumar', 'imran', 'surya', 'hameed']

In [ ]:
Day5...............